.gallery {
    background-color: black;
    padding: 75px 0 0 0;
    &__h1 {
        width: fit-content;
        color: white;
        font-family: 'Forum', sans-serif;
        font-size: 80px;
        letter-spacing: 5px;
    }
    &__images {
        display: flex;
        column-gap: calc((100% - 456px * 3) / 2);
        &-left,
        &-middle,
        &-right {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
        }
        &-left,
        &-right {
            margin-top: 50px;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__shadow {
        position: absolute;
        bottom: 0;
        width: 100%
    }
}