.tour {
    padding: 75px 0;
    &__h1 {
        font-family: 'Forum', sans-serif;
        font-size: 80px;
        color: #9D8665;
        letter-spacing: 5px;
    }
    &__line {
        margin-top: 25px;
        width: 100%;
        height: 3px;
        background-color: #710707;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 75px;
        row-gap: 75px;
        column-gap: calc((100% - (440px * 3)) / 2)
    }
    &__card {
        &-h2 {
            font-family: 'Forum', sans-serif;
            font-size: 32px;
            margin-top: 25px;
            letter-spacing: 5px;
        }
        &-line {
            width: 200px;
            height: 2px;
            background-color: #710707;
            margin-top: 10px;
        }
        &-text {
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: 200;
            margin-top: 10px;
            &-18 {
                font-size: 18px;
            }
        }
    }
}