.footer {
    background-color: black;
    &__up {
        position: relative;
        display: flex;
        padding-top: 75px;
    }
    &__logo {
        display: flex;
        align-items: center;
        column-gap: 25px;
        height: fit-content;
        &-text {
            font-family: 'Forum', sans-serif;
            font-size: 28px;
            color: white;
            letter-spacing: 5px;
        }
    }
    &__contacts {
        display: flex;
        column-gap: 150px;
        margin-top: 12px;
        margin-left: 145px;
        &-right,
        &-left {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            a {
                text-decoration: none;
                color: white;
                font-family: 'Roboto', sans-serif;
                font-weight: 100;
                font-size: 22px;
                &:hover {
                    color: #9D8665
                }
                &:active {
                    color: #7E6C51
                }
            }
        }
    }
    &__messagers {
        display: flex;
        column-gap: 25px;
        height: fit-content;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__messager {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border: 1px solid #666666;
        border-radius: 50%;  
    }
    &__line {
        width: 100%;
        height: 3px;
        background-color: #666666;
        margin-top: 50px;
    }
    &__bottom {
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 22px;
    }
}