.contacts {
    margin: 75px 0 0 0;
    padding: 0 0 75px 0;
    &__h1 {
        font-family: 'Forum', sans-serif;
        font-weight: 400;
        font-size: 80px;
        color: #9D8665;
        letter-spacing: 5px;
    }
    &__line {
        width: 100%;
        height: 3px;
        background-color: #710707;
        margin-top: 25px;
    }
    &__map {
        display: flex;
        margin-top: 75px;
        justify-content: space-between;
        &-h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 28px;
            width: 227px;
        }
        &-info-text {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            margin-top: 50px;
        }
        &-text {
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            font-size: 22px;
        }
    }
}