.payment {
    &__container {
        padding: 90px 235px;
        display: flex;
        column-gap: 40px;
        width: fit-content;
        margin: 0 auto;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: black;
            rotate: 45deg;
        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: black;
            rotate: -45deg;
        }
    }

    &__info {
        width: fit-content;
    }
    &__h1 {
        width: fit-content;
        font-family: 'Forum', sans-serif;
        font-size: 50px;
        color: #9D8665
    }
    &__header {
        &-text {
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #710707;
            margin-top: 15px;
        }
        &-line {
            width: 100%;
            height: 3px;
            background-color: #710707;
            margin-top: 10px;
        }
    }
    &__choice {
        margin-top: 60px;
        display: grid;
        &-wrapper {
            display: flex;
            column-gap: 20px;
        }
    }
    &__date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid black;
        width: calc(50% - 10px);
        padding: 13px 15px;
        &-heading {
            display: flex;
            align-items: center;
            column-gap: 15px;
        }
        img {
            cursor: pointer;
        }
    }
    &__time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid black;
        width: calc(50% - 10px);
        padding: 13px 15px;
        &-heading {
            display: flex;
            align-items: center;
            column-gap: 15px;
        }
        img {
            cursor: pointer;
        }
    }
    &__labels {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 20px;
        label {
            display: flex;
            align-items: center;
            border: 2px solid black;
            padding: 13px 15px;
            span {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 400;
                margin: 0 15px;
            }
            input {
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
            }
            input:focus {
                border-bottom: 1px solid black;
            }
        }
    }
    &__ticket {
        display: flex;
        width: 100%;
        justify-content: space-between;
        border: 2px solid black;
        padding: 13px 15px;
        margin-top: 20px;
        &-heading {
            display: flex;
            column-gap: 15px;
        }
        &-entry {
            margin-top: 20px;
            padding: 10px 15px 15px 15px;
            border: 2px solid black;
            &-heading {
                font-family: 'Forum', sans-serif;
                font-size: 18px;
                font-weight: 400;
                width: fit-content;
                color: #9D8665
            }
            &-line {
                width: 100%;
                height: 2px;
                background-color: #740C11;
                margin-top: 5px;
            }
            &-basic {
                display: flex;
                justify-content: space-between;
            }
            &-count {
                display: flex;
                align-items: center;
                border: 2px solid black;
                button {
                    all: unset;
                    position: relative;
                    width: 35px;
                    height: 23px;
                    background-color: black; 
                    cursor: pointer;
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    margin: 2px 13px 0 13px;
                }
                &-plus {
                    position: absolute;
                    top: 31%;
                    left: 33%;  
                }
                &-minus {
                    position: absolute;
                    top: 49%;
                    left: 33%;
                }
            }
            &-price {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }


    &__purchase {
        width: fit-content;
        border: 2px solid black;
        padding: 25px 30px;
        &-info {
            position: relative;
            &-img {
                position: absolute;
                right: 0;
            } 
            &-h3 {
                font-family: 'Roboto', sans-serif;
                font-size: 32px;
                font-weight: 500;
            }
            &-undertext {
                font-family: 'Roboto', sans-serif;
                font-size: 22px;
                font-weight: 500;
                color: #740C11
            }
            &-icons {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                margin-top: 10px;
            }
            &-icon {
                display: flex;
                column-gap: 15px;
                p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 200;
                    font-size: 18px;
                }                
            }
            &-prices {
                margin-top: 22px;
            }
            &-price {
                display: flex;
                justify-content: space-between;
                &-wrapper {
                    display: flex;
                    column-gap: 10px;
                    align-items: center;
                }
                &-count {
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    color: #A4A4A3;
                    background-color: black;
                    padding: 0 11px;
                    border-radius: 5px;
                }
                &-parameter,
                &-result {
                    font-family: 'Roboto', sans-serif;
                    font-size: 22px;
                    font-weight: 500px;
                }
            }
            &-line {
                width: 100%;
                height: 2px;
                background-color: #740C11;
                margin-top: 10px;
            }
        }

        &-total {
            margin-top: 10px;
            position: relative;
            &-result {
                display: flex;
                justify-content: space-between;
                &-text,
                &-price {
                    font-family: 'Roboto', sans-serif;
                    font-size: 32px;
                    font-weight: 400;
                }
                &-price {font-weight: 600}
            }
        }

        &-cards {
            margin-top: 10px;
            &-front {
                position: relative;
                position: absolute;
                z-index: 1;
                top: 60px;
                &-wrapper {
                    position: absolute;
                    top: 0;
                    left: 20px;
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: 10px;
                }
                input {
                    outline: none;
                    border: 1px solid #A4A4A3;
                    height: 35px;
                    margin-top: 5px;
                }
                &-inner {
                    position: relative;
                }
                &-images {
                    position: absolute;
                    right: 20px;
                    top: 19px;
                }
                &-dates {
                    width: fit-content;
                    #input-dates {
                        width: 215px;
                    }
                    &-btns {
                        display: flex;
                        column-gap: 15px;
                        margin-top: 5px;
                    }
                    &-btn {
                        display: flex;
                        div {
                            padding: 10px;
                            border: 1px solid #A4A4A3;
                            background-color: white;
                        }
                        button {
                            all: unset;
                            display: flex;
                            flex-direction: column;
                            row-gap: 3px;
                            justify-content: center;
                            padding: 12px 11px;
                            border: 1px solid #A4A4A3;
                            border-left: none;
                            background-color: none;
                            background-color: white;
                            cursor: pointer;
                        }
                    }
                }
                #cardholder {
                    width: calc(360px - 40px)
                }
            }

            &-back {
                position: relative;
                margin-left: 110px;
                margin-top: 60px;
                &-line {
                    position: absolute;
                    top: 25px;
                    width: 360px;
                    height: 45px;
                    background-color: black;
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    font-size: 10px;
                    width: fit-content;
                }
                #cvc {
                    font-size: 12px;
                }
                input {
                    outline: none;
                    width: 75px;
                    height: 35px;
                    border: 1px solid #A4A4A3
                }
                &-wrapper {
                    position: absolute;
                    right: 20px;
                    bottom: 15px;
                    display: flex;
                    flex-direction: column;
                    row-gap: 5px;
                    margin-top: 15px;
                    align-items: center;
                }
            }
        }

        &-btn {
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: 400;
            width: 220px;
            padding: 10px 0; 
            background-color: #710707;
            border: none;
            color: white;
            margin-top: 26px;
            cursor: pointer;
        }
    }
}